img 
{
    clear: both;
    vertical-align: middle;
    width: 48px;
    margin: 0 0 0.4rem 0.4rem;
    image-rendering: pixelated;
}

img.auto
{
    clear: both;
    vertical-align: middle;
    width: auto;
    image-rendering: auto;
}

a[href$=".png"] > img
{
    clear: both;
    width: 64px;
    margin: 0 0 0.4rem 0.4rem;
    image-rendering: pixelated;
}

.col-md-9 img {
    margin: 0;
}

td {
    vertical-align: middle;
}



.cat-fruit {
    color: #ffffff;
    background-color: #005b09;
    padding: 4px 8px;
    font-weight: bold;
}

.cat-weapon {
    color: #ffffff;
    background-color: #170072;
    padding: 4px 8px;
    font-weight: bold;
}

.cat-ability {
    color: #ffffff;
    background-color: #00a398;
    padding: 4px 8px;
    font-weight: bold;
}

.cat-wild {
    color: #ffffff;
    background-image: linear-gradient(red, rgb(0, 153, 255));
    padding: 4px 8px;
    font-weight: bold;
}

.cat-curse {
    color: #ffffff;
    background-image: linear-gradient(rgb(215, 0, 0), rgb(48, 13, 13));
    padding: 4px 8px;
    font-weight: bold;
}



.rarity-common {
    color: #000000;
    background-color: #00bfff;
    padding: 4px 8px;
    font-weight: bold;
}

.rarity-uncommon {
    color: #000000;
    background-color: #00ff11;
    padding: 4px 8px;
    font-weight: bold;
}

.rarity-rare {
    color: #000000;
    background-color: #ff002f;
    padding: 4px 8px;
    font-weight: bold;
}

.rarity-legendary {
    color: #000000;
    background-color: #ff00f2;
    padding: 4px 8px;
    font-weight: bold;
}

.payout-money {
    color: #000000;
    background-color: #ffee00;
    padding: 4px 8px;
    font-weight: bold;
}

.debt-money {
    color: #000000;
    background-color: #ff2b2b;
    padding: 4px 8px;
    font-weight: bold;
}